@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        flex-direction: row;
    }
    .card-login {
        width: 480px;
        margin-left: -20px;
    }

    .form {
        margin-left: 20px;
    }
    .sign-in {
        width: -80%; /* Ukuran default untuk layar besar */
    }
    .regis-title {
        text-align: center;
        font-size: 1em;
    }
    .custom-card {
        width: 280px !important; /* Sedikit lebih kecil */
        height: 140px !important; /* Sedikit lebih kecil */
        margin-left: 30px !important; /* Mengurangi margin kiri */
    }

    .custom-card.card-2 {
        margin-left: 30px !important;
    }

    .custom-card.card-3 {
        margin-left: 30px !important;
    }

    .icon-custom {
        font-size: 2.8rem !important; /* Ukuran ikon sedikit lebih kecil */
    }

}

/* For screens between 768px and 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        flex-direction: column;
    }

    .login-title {
        font-size: 1.5rem;
    }
    .card-login {
        width: 750px !important;
        margin-left: -160px;
    }

    .form {
        margin-top: 5px;
        justify-content: center;
    }
    .sign-in {
        width: -80px;
    }
    .regis-title {
        text-align: center;
        font-size: 1em;
    }
    .login-box {
        margin-bottom: 30px;
    }
    .custom-card {
        width: 240px; /* Lebar lebih kecil */
        height: 130px; /* Tinggi lebih kecil */
        margin-left: 10px; /* Margin kiri lebih kecil */
        margin-top: 50px;
    }

    .custom-card.card-2 {
        margin-left: 30px;
    }

    .custom-card.card-3 {
        margin-left: 50px;
    }
    .custom-card.card-4 {
        margin-left: 0px;
    }
    .custom-card.card-5 {
        margin-left: 30px;
    }
    .custom-card.card-6 {
        margin-left: 50px;
    }



    .icon-custom {
        font-size: 2.5rem; /* Ukuran ikon lebih kecil */
    }


/* For screens 767px and below */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }
    .card-login{
        width: 400px;
    }

    .login-title {
        font-size: 1.2rem;
    }

    .form {
        margin-left: 0; /* Center-align for small screens */
        margin-top: 15px;
    }
    .remember {
        margin-left: 10px !important;
    }
    .sign-in {
        margin-left: 10px;
    }
    .regis {
        font-size: 1em !important;
    }
    .syarat {
        margin-left: 10px;
    }
    .row {
        flex-direction: column; /* Tata letak berjajar ke bawah */
        display: flex; /* Aktifkan flexbox untuk tata letak */
    }
    .custom-card {
       margin-right: 100px;
}